.filtro {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f; 
  padding: 1rem;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  
}

.filtro label {
  font-weight: bold;
  color: white;
  font-size: 1.2rem; 
}

.filtro select {
  padding: 0.5rem;
  font: inherit;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 12rem; 
  background-color: #333; 
  color: white; 
}

.filtro select option {
  background-color: #333; 
  color: white; 
}

.filtro-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filtro select:hover {
  background-color: #444; 
}

.filtro select:focus {
  outline: none;
  border: 2px solid #666; 
}
